<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table th:width="300px" th:border="1" style="border-collapse:collapse;">
    <tr>
        <td><a href="/cars?count=1">1 car</a></td>
        <td><a href="/cars?count=2">2 cars</a></td>
        <td><a href="/cars?count=3">3 cars</a></td>
        <td><a href="/cars?count=4">4 cars</a></td>
        <td><a href="/cars?count=5">5 cars</a></td>
        <td><a href="/cars?count=6">More</a></td>
    </tr>
</table>
<br>
<table th:width="300px" th:border="1" style="border-collapse:collapse;">
    <tr>
        <td><b>Model</b></td>
        <td><b>Series</b></td>
        <td><b>Year</b></td>
    </tr>
    <th:block th:each="car : ${cars}">
        <tr>
            <td th:text="${car.getModel()}">
            <td th:text="${car.getSeries()}">
            <td th:text="${car.getYear()}">
        </tr>
    </th:block>
</table>
</body>
</html>